doctype 5
html
  head
    title heimcontrol.js | #{title}
    link(rel='stylesheet', href='/css/bootstrap.min.css') 
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/heimcontrol.css')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    script(data-main='/js/main', src='/js/require-jquery.js')

    link(rel='stylesheet', href='/plugin/wakeonlan.css')
    script(data-main='/js/main', src='/plugin/wakeonlan.js')

    meta(name="viewport",content="width=device-width, initial-scale=1.0")
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") heimcontrol.js
          div.nav-collapse.collapse
            ul.nav#bar-menu-left
              li(class=(title === 'Home' ? 'active' : ''))                
                a(href="/")
                  i.icon-home
                  |  Home
              li(class=(title === 'Settings' ? 'active' : ''))                
                a(href="/settings")
                  i.icon-cogs
                  |  Settings
    block content