extends layout

block content
  div.container
    h1 Login
    include includes/messages
    div.row16
      form#loginform(action="/login", method="POST")
        p
          label(for="email") Email:
          input.login#email(type="email", name="email", placeholder="john.doe@example.com", required="1")
        p
          label(for="password") Password:
          input.login#password(type="password", name="password", placeholder="**********", required="1")
        p
          label.checkbox
            input#rememberme(type="checkbox")
            | Remember me
        br
        p
          input.btn.btn-success.btn-login(type="submit", value="Login")