extends layout

block content
  div.container
    h1 heimcontrol.js Settings
    include includes/messages
    div.row
      div.span5
        h2 Select theme
        p Bootstrap compatible themes from 
          a(href="http://bootswatch.com/") Bootswatch
          .
        form(action="/settings/theme", method="POST")
          p
            label(for="changetheme") Theme:
            select(name="theme")
              option(value="default", selected=(theme=="/css/bootstrap.css")) bootstrap.css
              each t in themes
                option(value="#{t}", selected=(theme=="/css/themes/" + t)) #{t}
          p
            input.btn.btn-success.btn-login(type="submit", value="Select Theme")
    div.row
      div.span5

        h2 Users
        table.table.table-striped
          th Email
          th Action
          each u in users
            tr
              td= u.email
              td
                a(href="/settings/user/delete/#{u.email}").btn.btn-danger Delete

        h3 Add a user
          form(action="settings/user/create", method="POST")
            p
              label(for="email") Email:
              input.login#email(type="email", name="email", required="1")
            p
              label(for="password") Password:
              input.login#password(type="password", name="password", required="1")
            p
              input.btn.btn-success.btn-login(type="submit", value="Create")
