extends layout

block content
  div.container
    h1 Change password
    include includes/messages
    div.row16
      form(action="/settings", method="POST")
        p
          label(for="oldpassword") Old Password:
          input.login#oldpassword(type="password", name="oldpassword", required="1")
        p
          label(for="newpassword") New Password:
          input.login#newpassword(type="password", name="newpassword", required="1")
        p
          label(for="repeatnewpassword") Repeat new Password:
          input.login#repeatnewpassword(type="password", name="repeatnewpassword", required="1")
        br
        p
          input.btn.btn-success.btn-login(type="submit", value="Change")