@media (min-width: 979px) {
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
}

.plugin-container:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Plugin";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

.plugin-container {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 14px;
  position: relative;
}

.plugin-wol:after {
  content: "Wake on LAN";
}

.plugin-wol span {
  margin-top: 13px;
}