.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  max-width: 979px;
}

@media (min-width: 979px) {
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
}

@media (min-width: 450px) {
  .plugin-container .description {
	float: right;
  }
}

@media (max-width: 450px) {
  .footer {
    display: none;
  }
  input {
    width: 125px;
  }
  select {
    width: 140px;
  }
}

.buttons button {
  margin-right: 6px;
}

button i, .label i {
  padding-right: 8px;
}

.plugin-container:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Plugin";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

.plugin-container {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 14px;
  position: relative;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin: 0px;
}

#settings {
  padding-top: 25px;
}

.label-large {
  padding: 12px 24px;
  font-size: 17.5px;
  font-weight: normal;
  line-height: 21px;
}

input.login {
  width: 260px;
}

.large {
  margin: 10px 0px 0px 0px;
}

.large p {
  font-size: 36px;
  font-weight: bold;
}

