extends ../layout

block content
  header.jumbotron.subhead#overview
    h1 GPIO Plugin
    p.lead Control the GPIO ports on your Raspberry PI 
    
  section.about
    h2.page-header About
    p The GPIO plugin is able to control the GPIO ports of the Raspberry PI. It uses the great&nbsp;
      a(href="https://github.com/rakeshpai/pi-gpio") pi-gpio
      | %nbsp;tool to access the GPIO pins of the Raspberry Pi.
    
  section.installation 
    h2.page-header Installation
    p To get around being root to access the Raspberry Pi's GPIO pins, you should use&nbsp;
      a("https://github.com/quick2wire/quick2wire-gpio-admin") quick2wire-gpio-admin
      | :
    script(src="https://gist.github.com/ni-c/1242b3fe7b4645a0c7b4.js")
    