extends ../layout

block content
  header.jumbotron.subhead#overview
    h1 Wake-on-LAN Plugin
    p.lead Wake up your LAN devices with your Raspberry PI 
    
   section.about
    h2.page-header About
    p Is able to ping and send WOL packets over your local network. Uses the npm packages&nbsp;
      code ping
      | &nbsp;and&nbsp;
      code wol
      | &nbsp;.