extends layout

block content
  header.jumbotron.subhead#overview
    h1 heimcontrol.js
    p.lead Awesome home automation with Raspberry PI and Arduino using Node.js, HTML5 and Websockets.
    img.shadow.title(src="#{url}img/heimcontrol.jpg", alt="heimcontrol")
    
  div.row
    span.span3
      h3 
        i.icon-mobile-phone
        | &nbsp;Responsive
      p The responsive design allows you comfortable control of your home devices using your smartphone or tablet.
    span.span3
      h3 
        i.icon-globe
        | &nbsp;Everywhere
      p Open your Raspberry PI to the world and access your home automation app from everywhere in the world.
    span.span3
      h3 
        i.icon-signin
        | &nbsp;Extendable
      p An elaborated plugin system makes it easy to extend the application with your own plugins.

  section
    h2.page-header Screenshot
    img(src="img/screenshot.png", alt="Screenshot")
