doctype 5
html
  head
    title heimcontrol.js | #{page.title}
    link(rel='stylesheet', href='/heimcontrol.js/css/bootstrap.min.css') 
    link(rel='stylesheet', href='/heimcontrol.js/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/heimcontrol.js/css/font-awesome.min.css')
    link(rel='stylesheet', href='/heimcontrol.js/css/heimcontrol.css')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    script(data-main='/heimcontrol.js/js/heimcontrol', src='/heimcontrol.js/js/require-jquery.js')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    a(href="https://github.com/ni-c/heimcontrol.js")
      img(style="z-index: 2000; position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar.navigation(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.nav-collapse.collapse.navigation
            ul.nav#bar-menu-left
              li(class=(page.title === 'Home' ? 'active' : ''))                
                a(href="/")
                  i.icon-home  
                  | &nbsp;Home
              li(class=(page.title === 'Get Started' ? 'active' : ''))                
                a(href="/get-started.html")
                  i.icon-thumbs-up  
                  | &nbsp;Get Started
              li.dropdown(class=(page.title.indexOf('Settings')!==-1 ? 'active' : ''))                
                a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",id="dropdown")
                  i.icon-cogs 
                  | &nbsp;Plugins&nbsp;
                  b.caret
                ul.dropdown-menu(role="menu",aria-labelledby="dropdown")
                  li
                    a(href="/plugins/gpio.html") 
                      i.icon-lightbulb
                      | &nbsp;GPIO
                  li
                    a(href="/plugins/arduino.html") 
                      i.icon-external-link
                      | &nbsp;Arduino
                  li
                    a(href="/plugins/wakeonlan.html") 
                      i.icon-off
                      | &nbsp;Wake-on-LAN
            ul.nav.pull-right#bar-menu-right
              li
                a.btn-logout(href="mailto:ni-c@ni-c.de") 
                  i.icon-envelope
                  | &nbsp;Me
    #{page.meta}
    div.container
      block content
    footer.footer
      div.container
        p Created by 
          a(href="http://about.ni-c.de") Willi Thiel
          | , licensed under 
          a(href="https://github.com/heimcontroljs/heimcontrol.js/blob/master/LICENSE") MIT License
          | .
        p Crafted using  
          a(href="http://jade-lang.com/") Jade
          | , 
          a(href="http://twitter.github.com/bootstrap/") Bootstrap 
          | & 
          a(href="http://fortawesome.github.com/Font-Awesome/") font-awesome 
          |.